<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="post_form">
  <%= render "form", post: Post.new %>
</div>

<!-- 'id="posts"' will be the target of the turbo stream -->
<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
